:root {
    view-transition-name: root;
}

@font-face {
    font-family: 'Apercu Mono';
    src: url('../fonts/Apercu-Mono.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Apercu Mono';
    src: url('../fonts/Apercu-Mono-Bold.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'JeanLuc Thin';
    src: url('../fonts/jeanlucweb-thin.eot'); /* Fallback pour IE9- */
    src: url('../fonts/jeanlucweb-thin.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/jeanlucweb-thin.woff') format('woff'), /* Navigateur modernes */
         url('../fonts/jeanlucweb-thin.otf') format('opentype'), /* OpenType */
         url('../fonts/jeanlucweb-thin.svg#JeanLucThin') format('svg'); /* Legacy iOS */
    font-weight: normal;
    font-style: normal;
}

@view-transition {
    navigation: auto;
}

body, html {
    margin: 0;
    padding: 0;
    overflow: hidden; /* Empêche le scroll natif */
    height: 100%;
  }
  
  .section {
    width: 100%;
    height: 100vh; /* Hauteur de la fenêtre */
  }


// NAV
.restaurant-nav {
    position: fixed; // Rend la navigation fixe
    top: 0; // Place la navigation en haut de la page
    left: 0; // Aligne la navigation sur le bord gauche
    width: 100%; // La navigation occupe toute la largeur
    z-index: 10; // Assure que la navigation reste au-dessus des autres éléments
    display: flex; // Disposition en ligne
    justify-content: space-evenly; // Espacement égal entre les éléments
    align-items: center; // Centre les éléments verticalement
    font-family: 'Apercu Mono', monospace; // Police Apercu Mono
    background-color: #000; // Fond noir pour la navigation
  
    ul {
      display: flex; // Les items sont en ligne
      width: 100%; // La liste occupe toute la largeur
      margin: 0;
      padding: 0;
      list-style: none; // Supprime les puces
  
      li {
        flex: 0 0 33.33%; // Chaque élément prend 33% de la largeur
        text-align: center; // Centre le texte
        font-size: 2vw; // Taille de la police responsive
        background-color: #000; // Fond noir par défaut

        @media (max-width: 768px) {
            font-size: 3.8vw; // Taille de la police responsive

        }
  
        a {
          display: block; // Lien en mode bloc
          color: #fff; // Texte blanc par défaut
          text-decoration: none; // Supprime le soulignement
          padding: 10px 0; // Espacement vertical
          transition: all 0.3s ease; // Transition pour les interactions
  
          &.active {
            background-color: #fff; // Fond blanc pour l'actif
            color: #000; // Texte noir pour l'actif
          }
        }
      }
    }
  }
  

  

// BURGER & Buttons

/* Burger button  */
.burger-container {
    position: fixed;
    bottom: 20px;
    right: 0px;
    z-index: 4;
    background-color: #000;
    padding: 2px 5px !important;
    margin-right: 60px;

    @media (max-width: 480px) {
        bottom: 5.4vh;
        margin-right: 20px;
    }


}

.burger {
    cursor: pointer;
    display: flex;
    padding: 10px 20px !important;
    flex-direction: column;
    align-items: center;
    background-color: transparent;
    border: none;

    @media (max-width: 480px) {
        padding: 11px 10px !important;
    }
    


    span {
        display: block;
        width: 30px;
        height: 5px;
        margin-bottom: 3px;
        border-radius: 5px;
        background-color: #fff;
        transition: all 0.3s ease-in-out;

        @media (max-width: 480px) {
            width: 15px;
            height: 2px;
        }
        
    }

   /* Ajustements pour le mode ouvert */
   &.open span:nth-child(1) {
    transform: rotate(45deg) translate(6px, 5px);
    width: 18px; // Ajuster la largeur si nécessaire
}

&.open span:nth-child(2) {
    opacity: 0;
}

&.open span:nth-child(3) {
    transform: rotate(-45deg) translate(6px, -5px);
    width: 18px; // Ajuster la largeur si nécessaire
}
}

.restaurant-buttons {
    display: flex;
    justify-content: center;
    gap: 60px !important; /* Ajuster l'espacement entre les boutons */
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 3; 
    margin-bottom: 20px;
}

.restaurant-button {
    padding: 10px 45px !important;
    font-size: 1.5vw !important;
    background-color: #000;
    color: #fff !important;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
    font-family: 'Apercu Mono';
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
    transform: scale(1);
}

.restaurant-button a {
    color: #fff; /* Couleur par défaut du lien */
    text-decoration: none; /* Supprime le soulignement */
    transition: color 0.3s ease;
}

.restaurant-button:hover {
    transform: scale(1.03);
}



.restaurant-button a{
    color: white !important;

    @media (max-width: 768px) {
        font-size: 1rem;
        }

    // Pour les très petits écrans (mobiles)
    @media (max-width: 480px) {
        font-size: 1rem;    }
}

body.popup-active .restaurant-button {
    display: none;
}


/* Style des boutons quand l'info est active */
// .restaurant-button.info-active {
//     background-color: white;
//     a{
//         color: black;
//     }

// POPUP RESERVATION

/* Popup Reservation Frame */



#privatisation-content {
    display: none; /* Hide privatisation by default */
    button{
        margin:40px auto 60px;
        
    }
}
.popup-nav-item.active {
    background-color: white;
    color: #000;
}

.popup-nav-item:not(.active) {
    background-color: black;
    color: white;
}
.popup-reservation-frame {
    position: fixed;
    top: 10%;
    left: 50%;
    transform: translate(-50%, 0);
    width: 80% !important;
    background-color: white;
    z-index: 1000;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    display: none;
    overflow: scroll;
}

/* En-tête avec deux onglets (50% chacun) */
.popup-reservation-header {
    display: flex;
    justify-content: space-between;
    background-color: black;
    border-bottom: 1px solid #ddd;
}

.popup-nav {
    display: flex;
    width: 100%;
}

.popup-nav-item {
    flex: 1; /* Chaque élément prend 50% */
    text-align: center;
    font-family: 'Apercu Mono' !important;
    padding: 10px 0;
    cursor: pointer;
    color: white;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.popup-nav-item:last-child {
    border-right: none; /* Pas de bordure à droite pour le dernier onglet */
}

.popup-nav-item.active {
    background-color: white;
    color: #000;
}

.popup-reservation-close {
    font-size: 24px;
    cursor: pointer;
    color: white;
    padding: 10px;
    font-family: 'Apercu Mono';
}





/* Quand l'onglet "Privatisation" est actif, toute la zone de l'en-tête est blanche */
.popup-reservation-header.white-background {
    background-color: white; /* Le fond entier de l'en-tête devient blanc */
}

.popup-reservation-header.white-background .popup-reservation-close {
    color: black; /* Le bouton de fermeture devient noir */
}

.popup-reservation-header.white-background #reservation-tab {
    background-color: black; /* Réservation reste noir */
    color: white; /* Texte de réservation reste blanc */
}

.reservation-popup-content{
    display: flex;
    flex-direction: row;
    height: 50vh;


    .reservation-popup-left{
        width: 40%;

        .reservation-popup-form{
            iframe{
                width: 100%;
                overflow: scroll;
                height: 30vh;
            }
                }

                .reservation-popup-note{
                    text-align: center;
                    color: #000;
                    font-style: italic;
                    font-size: 1vw;
                }
    }

    .reservation-popup-right{
        width: 60%;
        background-image: url('../img/contact/reserver.jpg');
        background-size: cover;
    }
}

/* Media Queries for Tablet and Mobile */
@media (max-width: 768px) {
    /* Tablet view: remains the same */
    .popup-reservation-frame {
        width: 90%;
    }
}

@media (max-width: 480px) {
    /* Mobile view: popup adjustments */
    .popup-reservation-frame {
        width: 98%;
        height: auto; /* Adjust height as needed */
        top: 5%;
        height: 80vh;
        transform: translate(-50%, 0);
    }

    .reservation-popup-content {
        flex-direction: column; /* Stack elements vertically */
        height: auto;

        .reservation-popup-left,
        .reservation-popup-right {
            width: 100%; /* Each takes full width */
        }

        .reservation-popup-left {
            order: 2;
            .reservation-popup-form {
                iframe {
                    height: 300px; /* Adjust iframe height for mobile */
                }
            }

            .reservation-popup-note {
                font-size: 0.9rem; /* Adjust font size for mobile */
            }
        }

        .reservation-popup-right {
            height: 200px; /* Adjust height for mobile */
            background-size: cover;
        }
    }
}

#privatisation-content {
    height: 100%; /* Adjust height as needed */
    max-height: 80vh; /* Limit height to a maximum for scrollability */
    overflow-y: scroll; /* Enable vertical scrolling */
    overflow-x: hidden; /* Prevent horizontal scrolling */

    .image-scroll-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center; /* Center the content horizontally */
        padding: 20px;

        img {
            max-width: 100%; /* Make the image responsive */
            height: auto; /* Maintain aspect ratio */
            margin-bottom: 20px;
        }

        .restaurant-button {
            margin-top: 20px;
            display: inline-block;
            padding: 10px 20px;
            background-color: #000; /* Customize button background */
            color: #fff; /* Customize button text color */
            text-align: center;
            text-decoration: none;
            font-family: 'Apercu Mono', monospace;
            border-radius: 5px;
            transition: background-color 0.3s ease;

            &:hover {
                background-color: #444; /* Darker shade on hover */
            }

            a {
                color: #fff; /* Ensure the link inherits the color */
                text-decoration: none; /* Remove underline */
            }
        }
    }
}

/* Optional: Add responsiveness for mobile */
@media (max-width: 768px) {
    #privatisation-content {
        max-height: 70vh; /* Adjust the height for smaller screens */
    }

    .image-scroll-container {
        img {
            max-width: 90%; /* Reduce image width for smaller screens */
        }
    }
}




@media (max-width: 768px) {
    .restaurant-button {
        font-size: 3vw;
        padding: 20px 20px !important;
    }

    .restaurant-buttons {
        gap: 10px; /* Réduire l'espacement entre les boutons */
        bottom: 3vh;
    }

}

@media (max-width: 480px) {
    .restaurant-button {
        font-size: 4vw;
        padding: 10px 10px !important;    }

    .restaurant-buttons {
        gap: 10px !important; /* Réduire encore plus l'espacement entre les boutons */
    }


}



// SIDE NEVIGATION

/* Menu latéral */
.side-menu {
    position: fixed;
    top: 0;
    right: -100%; /* Initialement en dehors de l'écran */
    width: 18%;
    z-index: 30;
    height: 100%;
    background-color: #fff; /* Fond blanc */
    color: black;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
    transition: right 0.3s ease-in-out;
    display: flex;
    flex-direction: column;
    padding: 20px;
    font-family: 'Apercu Mono', monospace; 
    text-align: right !important;

    @media (max-width: 1200px){
        width: 35%;
    }

    @media (max-width: 768px){
        width: 45%;
    }

    @media (max-width: 450px){
        width: 50%;
    }

    &.open {
        right: 0; /* Glisse le menu dans l'écran */
    }

    ul{
        li{
            list-style: none;

            a{
                text-decoration: none;
                color: black;
            }
        }
    }

    .big-menu-item{
        font-family: 'Jeanluc thin';
        font-size: 4rem;
    }

    .horizontal-bar {
        width: 100px !important;
        height: 2px;
        background-color: black;
        margin-top: 5px;
        margin-left: auto; /* Pousse la barre vers la droite */
    }

    .main-submenu, p{
        margin: 1vh 0;
        a{
            font-weight: 600; 
        }
    }

    .legal-submenu {
        display: flex;
        flex-wrap: nowrap; /* Empêche les éléments de passer à la ligne */
        gap: 10px; /* Ajoute de l'espace entre les éléments */
        flex-direction: column;
        width: 100%;
        position: relative;
        right: 3vw;

        li {
            list-style: none;
            a {
                text-decoration: none;
                color: black;
            }
        }

        @media (max-width: 1800px) {
            right: 2vw;
        }

        @media (max-width: 768px) { /* Tablettes et plus petits */
                right: 5vw; /* Décale davantage vers la gauche */
        }
        
        @media (max-width: 450px) { /* Mobiles */
                right: 10vw; /* Décale encore plus vers la gauche */
        }
    }
          
    
    /* Section des réseaux sociaux */
    .social-section {
        margin-top: 20px;
        text-align: right;

        p {
            font-size: 1rem;
            font-weight: bold; /* Apercu Bold pour "Suivez-nous" */
            font-family: 'Apercu Mono', monospace;
            margin-bottom: 10px;

            @media (max-width: 450px) {
                font-size: 3.5vw !important; /* Taille des icônes */
            }
        }

        .social-icons {
            display: flex;
            justify-content: right;
            gap: 10px;

            a {
                color: black; /* Couleur de l'icône */
                font-size: 1.5rem; /* Taille des icônes */
                transition: color 0.3s ease;



                &:hover {
                    color: #555; /* Couleur au survol */
                }
            }
        }

        .fa-linkedin-in{
            background-color: black;
            color: white;
            padding: 3px;
        }
    }
}

// Variables pour gérer les points de rupture
$mobile-breakpoint: 768px;

// Mixin pour appliquer 100dvh à chaque section
@mixin full-device-height() {
  height: 100dvh; // Toujours prendre en compte la hauteur visible du viewport
  overflow: hidden; // Évite les débordements
}

// Application des styles
.manifesto-sections-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  .manifesto-section {
    @include full-device-height(); // Chaque section occupe 100dvh
    flex: 1; // Chaque section occupe un espace égal

    &-left,
    &-middle,
    &-right {
      display: flex;
      flex-direction: column;
      justify-content: center; // Centrage vertical
      align-items: center; // Centrage horizontal
      position: relative; // Nécessaire pour les superpositions ou contenus positionnés
      background-size: cover;
      background-position: center;

      .manifesto-content {
        max-width: 100%;
        text-align: center;

        img{
            max-width: 100%
        }
      }
    }
  }
}

// Gestion pour Swiper ou d'autres sections similaires
.manifesto-swiper-container {
  .swiper-slide {
    @include full-device-height(); // Chaque slide occupe 100dvh
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

// MANIFESTO SECTION 1

.manifesto-sections-container {
    display: flex;
    flex-wrap: nowrap; // Aligne les sections horizontalement sur desktop
    width: 100%; // Largeur totale
    height: 100vh; // Chaque section prend 100% de la hauteur de la fenêtre
  
    .manifesto-section {
      flex: 0 0 33.33%; // Chaque section occupe 33% de la largeur
      display: flex;
      flex-direction: column; // Empile le contenu verticalement
      align-items: center;
      justify-content: center;
  
      // Conteneur de l'image
      .manifesto-image-container {
        width: 100%; // Largeur pleine
        height: 50%; // Prend 50% de la hauteur de la section
        display: flex;
        justify-content: center;
        align-items: center;
        background-size: cover;
        background-position: center;
      }
  
      // Conteneur du texte
      .manifesto-content {
        width: 100%; // Largeur pleine
        height: 50%; // Prend 50% de la hauteur de la section
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
      }
  
      &.manifesto-section-left,
      &.manifesto-section-right {
        // Image en haut, texte en bas
        .manifesto-image-container {
          order: 0; // Image en haut
        }
        .manifesto-content {
          order: 1; // Contenu en bas
        }
      }
  
      &.manifesto-section-middle {
        // Texte en haut, image en bas
        .manifesto-image-container {
          order: 1; // Image en bas
        }
        .manifesto-content {
          order: 0; // Contenu en haut
        }
      }
    }
  }

  // Style des images dans chaque section (prend toute la largeur et la hauteur)
.manifesto-image-container {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.manifesto-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: 90%;
    transition: opacity 1s ease;
    z-index: 1;
}

.overlay {
    opacity: 0;
    z-index: 2;
}

.fade-in {
    opacity: 1;
}


  
  // Responsive design pour les petits écrans
  @media (max-width: 1100px) {
    .manifesto-sections-container {
      height: 100dvh; // Hauteur dynamique basée sur la fenêtre visible
      flex-direction: column; // Sections empilées en colonne
  
      .manifesto-section {
        display: flex;
        flex-direction: row; // Image et contenu côte à côte
        height: 33.33333dvh; // Chaque section prend un tiers de la hauteur totale
  
        .manifesto-image-container,
        .manifesto-content {
          width: 50%; // Chaque élément occupe 50% de la largeur
          height: 100%; // Prend toute la hauteur de la section
          display: flex; // Pour centrer le contenu
          justify-content: center;
          align-items: center;
  
          img {
            max-width: 100%; // Les images ne dépassent pas leur conteneur
            max-height: 100%; // Les images respectent la hauteur disponible
            object-fit: contain; // Les images conservent leurs proportions
          }
        }
  
        .manifesto-image-container {
          background-size: cover; // L'image de fond occupe tout l'espace disponible
          background-position: center; // Centre l'image de fond
        }
  
        .manifesto-content {
          text-align: center; // Centre le texte
     }
      }
    }
  }





// SWIPER MANIFESTO SLIDE


.manifesto-swiper-container  {
    font-family: 'JeanLuc Thin';
    height: 100vh;


    // En version desktop (769px et plus), on inverse la visibilité
    @media (min-width: 769px) {
        .swiper-desktop-only {
            display: block; // Affiche le contenu HTML pour desktop
        }

        .swiper-mobile-only {
            display: none; // Masque l’image pour desktop
        }
    }

}

.manifesto-swiper-slide{
    width: 100%;
}

// Styles pour le format mobile et tablette
@media (max-width: 1024px) {
    .swiper-desktop-only {
      display: none !important; // Masque les éléments destinés au desktop
    }
  
    .swiper-mobile-only {
      display: block !important; // Affiche les éléments destinés au mobile
      width: 100%; // Assure que les images mobiles occupent toute la largeur disponible
      margin: 0 auto; // Centre horizontalement les images
      padding: 10px; // Ajoute des marges internes pour aérer l'affichage
  
      img {
        display: block; // S'assure que les images sont en mode block
        max-width: 90%; // Limite la largeur de l'image à 90% du conteneur
        height: auto; // Maintient les proportions de l'image
        margin: 0 auto; // Centre les images dans leur conteneur
      }
    }
  }
  
  // Par défaut (desktop), cacher les mobi


.swiper {
    width: 100vw; /* La largeur du conteneur Swiper */
    overflow: hidden; /* Empêche les débordements */
}
.swiper-wrapper {
    display: flex; /* Les diapositives doivent être alignées en ligne */
    width: 100%; /* Assurez que le wrapper prend toute la largeur */
}

.manifesto-swiper-slide {
    box-sizing: border-box; /* Assure que le padding et les bordures sont inclus dans la largeur totale */
    margin: 0;
    padding: 0;
    overflow: hidden; /* Empêche les débordements de contenu */
}

// SWIPER SLIDE 1
#swiper-manifesto-swiper-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #ffffff;

    .swiper-manifesto-swiper-slide-container {
        display: flex;
        justify-content: center;
        align-items: center;

        .swiper-manifesto-content {
            text-align: center;

            .swiper-manifesto-line {
                &.swiper-large-text {
                    font-size: 10vh;
                    text-transform: uppercase;
                }
            }
        }
    }
}

// SWIPER SLIDE 2
#swiper-manifesto-swiper-2 {
    display: flex;
    justify-content: center;
    padding-top: 14vh;
    align-items: center;
    height: 100vh;
    background-color: #ffffff;

    .swiper-manifesto-swiper-slide-container {
        position: relative;
        width: 100%;
        max-width: 90vw;
        text-align: center;
        overflow: hidden;

        .swiper-background-image {
            position: absolute;
            top: 32%; 
            left: 67%;
            transform: translate(-50%, -50%); 
            width: 18vw; 
            height: auto; 
            max-height: 50vh; 
        }
        

        .swiper-manifesto-content {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            #swiper-manifesto-line-1 {
                width: 100%;              // Utilise toute la largeur du conteneur
                text-align: justify;      // Justifie le texte pour occuper toute la largeur
                font-size: 6vw;           // Taille proportionnelle à la largeur de l’écran
                text-transform: uppercase;
                line-height: 1.2;         // Ajuste l'espacement vertical entre les lignes
                word-spacing: 3.8vw !important;      // Espacement entre les mots
                letter-spacing: 0.7vw !important; 
            
                // Forcer la justification de la dernière ligne
                &::after {
                    content: '';          // Crée un espace vide pour forcer la justification
                    display: inline-block;
                    width: 100%;          // Prend toute la largeur du conteneur
                }
            }
            
            
            #swiper-manifesto-line-2 {
                width: 100%;              // Utilise toute la largeur du conteneur
                text-align: justify;      // Justifie le texte pour occuper toute la largeur
                font-size: 6vw;         // Taille plus petite pour la seconde ligne
                text-transform: uppercase;
                line-height: 1.2;
                word-spacing: 0.4vw;      // Espacement entre les mots, ajusté pour correspondre à l'espacement désiré
                letter-spacing: 0.08vw;   // Espacement entre les lettres
            
                // Forcer la justification de la dernière ligne
                &::after {
                    content: '';          // Crée un espace vide pour forcer la justification
                    display: inline-block;
                    width: 100%;
                }
            
                // Style pour le mot "LE" en plus petit et aligné en haut
                .swiper-little-manifesto {
                    font-size: 3vw;       // Taille plus petite pour "LE"
                    vertical-align: top;   // Aligne "LE" en haut par rapport au texte suivant
                    margin-right: 0.3vw;   // Espace entre "LE" et "DIMANCHE"
                }
            }
            
        }
    }
}

#swiper-manifesto-swiper-3 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    background-color: #ffffff;

    .swiper-manifesto-swiper-slide-container {
        position: relative;
        width: 90vw;
        max-width: 90vw;
        height: 100vh;
        overflow: hidden;

        .swiper-manifesto-html-content {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 100%;

            .swiper-manifesto-content {
                position: absolute;
                top: 10vh;
                left: 5vw;
                width: 50%;

                .swiper-manifesto-line {
                    font-size: 5vw;
                    text-transform: uppercase;
                    margin: 0.5vh 0;
                    line-height: 1.1;
                    text-align: justify;
                }
            }

            .swiper-manifesto-image-container {
                position: absolute;
                top: 69vh;                // Position verticale fixe pour éviter que l'image ne bouge
                left: 28%;                // Centrage horizontal de l'image
                transform: translate(-50%, -50%); // Centre l'image par rapport à son point central
            
                .swiper-manifesto-image {
                    width: 15vw;          // Largeur proportionnelle, peut être ajustée si nécessaire
                    height: auto;
                    max-height: 60vh;     // Limite la hauteur pour préserver les proportions sans déborder
                }
            }
            

            .swiper-small-text {
                position: absolute;
                bottom: 5vh;
                right: 5vw;
                width: 40vw;             // Définit une largeur fixe pour que les lignes s'alignent
                font-size: 2vw;
                text-transform: uppercase;
                line-height: 1.2;
                text-align: justify;      // Justifie le texte pour qu'il occupe toute la largeur
                display: flex;
                flex-direction: column;   // Force chaque ligne dans une nouvelle ligne en tant que texte justifié
            
                // Utiliser ::after pour forcer la justification de la dernière ligne
                &::after {
                    content: '';           // Crée un espace vide pour forcer la justification de la dernière ligne
                    display: inline-block;
                    width: 100%;
                }
            }
            
        }
    }
}

// SWIPER SLIDE 4

#swiper-manifesto-swiper-4 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #ffffff;
    font-size: 5.2vw;


    .swiper-manifesto-swiper-slide-container {
        position: relative;
        width: 90vw;
        max-width: 90vw;
        height: 100vh;
        overflow: hidden;

        .swiper-manifesto-html-content {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 100%;

            .swiper-text-top {
                position: absolute;
                top: 5vh;
                left: 5vw;
                width: 40%;

                .swiper-manifesto-line {
                    text-transform: uppercase;
                    line-height: 1.1;
                    text-align: left;
                }
            }

            .swiper-text-center {
                position: absolute;
                top: 50vh;
                left: 45vw;
                transform: translateY(-50%);
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                width: 90%;
            
                .swiper-right-aligned {
                    text-transform: uppercase;
                    text-align: left;
                    margin-bottom: 2vh;
                }
            
                .swiper-image-text-container {
                    display: flex;
                    align-items: center;
                    width: 100%;
            
                    .swiper-manifesto-image-container {
                        width: 7vw;
                        height: 7vw;
                        margin-right: 2vw;
            
                        .swiper-manifesto-image {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }
                    }
            
                    .swiper-text-right-of-image {
                        text-transform: uppercase;
                        line-height: 1.1;
                        text-align: left;
                    }
                }
            }
            
            
            

            .swiper-text-bottom {
                position: absolute;
                bottom: 5vh;
                left: 5vw;
                width: 80%;

                .swiper-manifesto-line {
                    text-transform: uppercase;
                    line-height: 1.1;
                    text-align: left;
                }
            }
        }
    }
}

// Swiper slide 5

#swiper-manifesto-swiper-5 {
    display: flex;
    padding: 5vh 3vw;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #ffffff;

    .swiper-manifesto-swiper-slide-container {
        position: relative;
        width: 100%;
        height: 90vh;
        overflow: hidden;

        .swiper-manifesto-html-content {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
            height: 100%;

            .swiper-manifesto-content {
                width: 100%;
                display: flex;
                flex-direction: column;
                gap: 1vh;

                .swiper-manifesto-line {
                    text-transform: uppercase;
                    font-size: 5.5vw;
                    line-height: 0.9;
                    font-weight: normal;
                    letter-spacing: 0.4vw;

                    &.line-1 { width: 100%; }
                    &.line-2 { width: 85%; }
                    &.line-3 { width: 75%; }
                    &.line-4 { width: 69%; }
                    &.line-5 { width: 85%; }
                    &.line-6 { width: 75%; }
                    &.line-7 { width: 47%; }
                }

                .highlight-red { color: #ff0000; }
                .highlight-yellow { color: yellow; }
                .highlight-green { color: #388e3c; }
                .highlight-brown { color: #b36b51; }
                .highlight-purple { color: #6a1b9a; }
                .highlight-purple-clear{ color: #8f34c7; }

                .small-text {
                    font-size: 2vw;
                    position: relative;
                    bottom: 5vh;
                    left: 1vw;
                }
            }
        }
    }
}

// Swiper slide 6

#swiper-manifesto-swiper-6 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #ffffff;
    font-size: 7vw;


    .swiper-manifesto-swiper-slide-container {
        position: relative;
        width: 100%;
        height: 100vh;
        overflow: hidden;
        padding: 4vh 4vw;

        .swiper-manifesto-html-content {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 100%;

            .swiper-manifesto-content {
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                gap: 5vh;

                .swiper-manifesto-line {
                    text-transform: uppercase;
                    line-height: 1.2;
                    font-weight: normal;

                    &.line-1 {
                        width: 70vw;
                        position: relative;
                    }

                    .small-text {
                        font-size: 2vw;
                        position: relative;
                        bottom: 4vh;
                    }
                }

                .swiper-bottom-container {
                    display: flex;
                    align-items: flex-end;
                    justify-content: space-between;
                    width: 100%;
                    position: absolute;
                    bottom: 0;
                    padding-bottom: 6vh;

                    .line-2 {
                        width: 60vw;
                        text-align: left;
                        position: relative;
                    }

                    .swiper-manifesto-image-container {
                        width: 30vw;
                        margin-right: 18vw;

                        .swiper-manifesto-image {
                            width: 100%;
                            height: auto;
                        }
                    }
                }
            }
        }
    }
}

//  SWIPER 7

#swiper-manifesto-swiper-7 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 3vh 2vw;

    .swiper-manifesto-swiper-slide-container {
        position: relative;
        width: 100%;
        height: 100vh;
        overflow: hidden;
        font-size: 6vw;


        .swiper-desktop-only {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            width: 100vw;
            height: 100%;

            .swiper-manifesto-content {
                display: flex;
                flex-direction: column;
                padding-top: 13vh;

                .large-text {
                    line-height: 1;
                    width: 100%;
                    text-transform: uppercase;
                }

                .swiper-bottom-container {
                    display: flex;
                    align-items: flex-start;
                    justify-content: space-between;
                    width: 100%;
                    margin-top: 5vh;

                    .small-text-container {
                        display: flex;
                        flex-direction: column;
                        gap: 1vh;
                        width: 60vw;
                        text-align: right;
                        margin-right: 2vw;

                        .small-text {
                            font-size: 2vw;
                            line-height: 1.2;
                            text-transform: uppercase;
                        }
                    }

                    .swiper-manifesto-image-container {
                        width: 30vw;
                        margin-left: auto;

                        .swiper-manifesto-image {
                            width: 100%;
                            height: auto;
                            object-fit: cover;
                        }
                    }
                }
            }
        }
    }
}

// Swiper 8

#swiper-manifesto-swiper-8 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #ffffff;

    .swiper-manifesto-swiper-slide-container {
        position: relative;
        width: 100%;
        height: 100vh;
        overflow: hidden;

        .swiper-desktop-only {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100vw;
            height: 100%;
            text-align: center;

            .swiper-manifesto-content {
                display: flex;
                flex-direction: column;
                align-items: center;
                margin: 4vh 5vw;


                .large-text {
                    font-size: 4vw;
                    line-height: 1;
                    text-transform: uppercase;
                    text-align: center;

                    .small-text {
                        font-size: 2.5vw;
                        position: relative;
                        bottom: 3vh;
                    }
                }

                .swiper-manifesto-image-container {
                    width: 40vw;
                    height: auto;
                    display: flex;
                    justify-content: center;

                    .swiper-manifesto-image {
                        width: 100%;
                        height: auto;
                        object-fit: cover;
                    }
                }
            }
        }
    }
}

//  SWIPER 9


#swiper-manifesto-swiper-9 {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    height: 100vh;
    background-color: #ffffff;

    .swiper-manifesto-swiper-slide-container {
        position: relative;
        width: 100vw;
        height: 100vh;
        overflow: hidden;

        .swiper-manifesto-content {
            position: relative;
            width: 100vw;
            margin-top: 20vh;

            .large-text {
                font-size: 7vw;
                text-transform: uppercase;
                text-align: left;
                width: 100vw; // Le texte prend 55% de la largeur
                display: flex;
                flex-direction: column;
                span{
                    margin-top:-15vh
                }
            }

            .small-text {
                font-size: 4vw;
                vertical-align: top;
            }

            .swiper-manifesto-image-container {
                width: 40vw;
                right: 30vw;
                height: auto;
                margin-left: auto;
                position: relative;
                bottom: 12vh;

                .swiper-manifesto-image {
                    width: 100%;
                    height: auto;
                    object-fit: cover;
                }
            }
        }
    }
}

// SWIPER 10

#swiper-manifesto-swiper-10 {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
    background-color: #ffffff;

    .swiper-manifesto-swiper-slide-container {
        position: relative;
        width: 100vw;
        height: 100vh;
        overflow: hidden;

        .swiper-manifesto-content {
            position: relative;
            width: 100vw;
            height: 100vh;

            .large-text {
                font-size: 6vw;
                line-height: 1.2;
                text-transform: uppercase;
                text-align: left;
                width: 100vw;
                padding: 0 5vw;
            }

            .top-text {
                position: absolute;
                top: 5vh;
                left: 0;
            }

            .small-text {
                font-size: 2vw;
                position: relative;
                bottom: 5vh;
            }

            .swiper-manifesto-image-container {
                position: absolute;
                top: 20vh;
                left: 50vw;
                width: 30vw;
                height: auto;

                .swiper-manifesto-image {
                    width: 80%;
                    height: auto;
                    object-fit: cover;
                }
            }

            .bottom-text {
                position: absolute;
                bottom: 5vh;
                left: 0;
                text-align: center;
                width: 100vw;
            }
        }
    }
}

#swiper-manifesto-swiper-11,
#swiper-manifesto-swiper-12 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #ffffff;

    .swiper-manifesto-swiper-slide-container {
        position: relative;
        width: 100vw;
        height: 100vh;
        overflow: hidden;

        .swiper-manifesto-content {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100vw;
            height: 100vh;

            .large-text {
                font-size: 7vw;
                text-transform: uppercase;
                text-align: center;
            }

            .centered-text {
                display: flex;
                justify-content: center;
                align-items: center;
                height: 100vh;
                width: 100vw;
            }

            .highlighted-text {
                font-weight: bold;
            }

            .logo-container {
                margin-top: 5vh;
                width: 40vw;
                height: auto;
                display: flex;
                justify-content: center;

                .logo-image {
                    width: 100%;
                    height: auto;
                    object-fit: contain;
                }
            }
        }
    }
}

// CARTE POPUP

// POPUP

/* Popup styles */




.popup {
    display: none; /* Masqué par défaut */
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8); /* Fond sombre plus visible */
}

.popup-content {
    background-color: transparent; /* Rendre l'arrière-plan transparent */
    margin: 0; /* Supprime toutes les marges */
    padding: 0; /* Supprime tous les espacements internes */
    border: none;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center; /* Centrer le swiper verticalement */
    z-index: 2000;

    iframe {
        width: 100%;
        height: 100%;
        border: none;
    }
}

/* Positionner le bouton de fermeture en haut à droite */
.close-popup {
    position: absolute;
    top: 20px; /* Position en haut de l'écran */
    right: 20px; /* Position à droite de l'écran */
    color: black;
    font-size: 18px;
    font-weight:100;
    z-index: 20000;
    font-family: 'Apercu Mono';

    &:hover,
    &:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
    }
}

.close-popup-side-menu {
    position: absolute;
    top: 20px; /* Position en haut de l'écran */
    right: 20px; /* Position à droite de l'écran */
    color: black;
    font-size: 18px;
    font-weight:100;
    z-index: 20000;
    font-family: 'Apercu Mono';

    &:hover,
    &:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
    }
}















