:root {
    view-transition-name: root;
}

@font-face {
    font-family: 'Apercu Mono';
    src: url('../fonts/Apercu-Mono.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'JeanLuc Thin';
    src: url('../fonts/jeanlucweb-thin.eot'); /* Fallback pour IE9- */
    src: url('../fonts/jeanlucweb-thin.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/jeanlucweb-thin.woff') format('woff'), /* Navigateur modernes */
         url('../fonts/jeanlucweb-thin.otf') format('opentype'), /* OpenType */
         url('../fonts/jeanlucweb-thin.svg#JeanLucThin') format('svg'); /* Legacy iOS */
    font-weight: normal;
    font-style: normal;
}

@view-transition {
    navigation: auto;
}
